$main-theme: #4a63e7;
$second-theme: #ff5959;
$g-777: #777;
$break-small: 768px;
$break-large: 1024px;
$tall-height: 550px;

@mixin respond-to($media) {
  @if $media==handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }

  @else if $media==medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  }

  @else if $media==wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

h1,
h2,
h3,
p,
span {
  line-height: 1.5em;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
}

hr {
  width: 100%;
  margin: 1.5em 0;
}

ul {
  list-style-type: decimal;

  li {
    margin-bottom: 1em;
  }
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  outline: none;
}

.uppercase {
  text-transform: uppercase;
}

.margin-bottom-lg {
  margin-bottom: 50px;
}

.margin-s {
  margin: 5px 0;
}

label {
  color: $g-777;

  &+span {
    color: #000;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @include respond-to(wide-screens) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4 {
  &::after {
    content: "";
    background-color:
      $second-theme;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    height: 6px;
    width: 6px;
  }
}

// TODO: Remove this after v2.
.temp-block {
  display: flex;

  @include respond-to(wide-screens) {
    display: none;
  }
}
.temp-header-block {
  display: none;
  font-size: 0.8em;

  @include respond-to(wide-screens) {
    display: flex;
  }

  label {
    color: #cccccc;
  }

  span {
    color: #fff;
  }
}

.tall {
  min-height: $tall-height;
}

#app {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  padding: .5em 15px;

  @include respond-to(wide-screens) {
    flex-direction: row-reverse;
    padding: 50px 15px;
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .main {
    transition: all .3s ease-in-out;

    @include respond-to(wide-screens) {
      width: 80%;
    }

    .m-header {
      // TODO: on going
      display: none;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 1.5rem 0;
      padding: .5em 1em;
      background-color: $main-theme;
      border-radius: 20px;
      color: #fff;

      @include respond-to(wide-screens) {
        display: none;
      }

      button {
        cursor: pointer;
        background: 0 0;
        border: 0;
        outline: none;
        vertical-align: middle;
        padding: 0;

        >span {
          background:
            #fff;
          border-radius: 10px;
          display: block;
          height: 4px;
          width: 25px;

          &:nth-child(2) {
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  .header-wrapper {
    position: relative;
    width: 265px;

    @include respond-to(wide-screens) {
      width: 300px;
      margin: 0 50px 50px 0;
    }

    .header {
      position: fixed;
      top: 50px;
      width: 265px;
      height: $tall-height;
      padding: 30px;
      margin: 50px 0;
      border-radius: 20px;
      color: #fff;
      background-color: $main-theme;
      transition: all .3s ease-in-out;

      @include respond-to(wide-screens) {
        width: 300px;
        margin: 0 50px 50px 0;
      }

      .profile {
        flex-direction: column;
        align-items: flex-start;

        >h2 {
          margin-top: 1em;
        }
      }

      nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        >a {
          margin: 1em;
          transition: all .3s ease-in-out;

          &:hover {
            color: $second-theme;
          }
        }
      }
    }
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include respond-to(wide-screens) {
      width: 70%;
      margin: 0 auto;

      h2 {
        font-size: 4em;
      }
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;

    >* {
      margin-bottom: 30px;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;

    @include respond-to(wide-screens) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}